@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

::ng-deep {
  .text-muted {
    color: gray !important;
  }
  .logo {
    padding: 0 5% 0 5%;
    width: 200px;
    margin: auto;
    margin-top: 20%;
  }
  ion-grid {
    padding: 0 7% 0 7%;
  }

  ion-textarea {
    border: 1px solid gray !important;
  }
  .information-box {
    margin-top: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    padding: 15px 0 15px 15px;

    &.orange {
      border-left: orange solid 5px !important;
    }
    h3 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
    ion-label {
      font-size: 16px;
    }
  }

  .mt-2 {
    margin-top: 1.25rem;
  }

  ion-button {
    width: 100%;

    ion-icon {
      margin-right: 15px;
      font-size: 27px;
    }
    &.primary {
      --background: #fd8600;
    }
    &.secondary {
      --background: #583384;
    }
  }

  ion-textarea {
    --background: #f5f6fa;
    padding-left: 15px;
    border-radius: 5px;
    margin-top: 5px;
    border: none;
    outline: none;
    color: #a7a7a7;
  }

  .overlay {
    width: 100%;
    height: 100vh;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.5);
  }

  .ngx-spinner {
    top: 50% !important;
    left: 45% !important;
  }
  .ngx-spinner-icon {
    width: 50px !important;
    height: 50px !important;
  }
  .toast-success {
    --background: green !important;
    color: white !important;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
  }
  .toast-error {
    --background: red !important;
    color: white !important;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
  }
  .back-label {
    position: relative;
    bottom: 7px;
  }
  .back-icon {
    font-size: 23px;
  }
  .font-weight-bold {
    font-weight: bold !important;
  }
  .d-block {
    display: block !important;
  }
  .text-center {
    text-align: center;
  }
  .m-0 {
    margin: 0 !important;
  }
  .text-red {
    color: red !important;
  }
  .d-none {
    display: none !important;
  }
}
