<ion-content [fullscreen]="true">
  <ion-img class="logo" src="../../assets/icons/VetHand-02.svg"></ion-img>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h5>Talep Geçmişin</h5>
      </ion-col>
      <ion-col size="12">
        <div class="request-item status-{{item.status}}" *ngFor="let item of waitingRequests">
          <ion-icon name="{{item.icon}}"></ion-icon>
          <div>
            <b>{{item.date}}</b>
            <span class="text-muted">{{item.statusText}}</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
